<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <!-- card -->
                <div class="card mt-5 shadow">
                    <div class="card-body">
                        <!-- logo -->
                        <div class="text-center mb-4">
                            <img src="{{url_for('static', filename='logo.jpeg')}}" alt="Logo"
                                class="img-fluid rounded-circle" style="max-width: 100px;">
                        </div>
                        <!-- form -->
                        <h5 class="card-title text-center text-primary">Login</h5>
                        <form id="login_form" class="">
                            <div class="form-group mb-3">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" id="username" required="">
                                <div class="invalid-feedback">please enter username</div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" required="">
                                <div class="invalid-feedback">please enter password</div>
                            </div>
                            <button type="button" id="login_submit" class="btn btn-primary btn-block">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- popup modal -->
    <div class="modal fade" tabindex="-1" id="login_response">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    $(function () {

    })

    $('#login_submit').on('click', function () {
        $('#login_form').attr('class', 'was-validated')  /* set valid check */
        if ($('#username').val() != '' && $('#password').val() != '') {
            $.ajax({
                url: '/login',
                type: 'POST',
                data: {
                    username: $('#username').val(),
                    password: $('#password').val()
                },
                success: function (response) {
                    // console.log(response)
                    if (response['status'] == 'success') {
                        $('#login_response').find('[class="modal-title"]').text('login successful')
                        $('#login_response').modal('show')
                    }
                    else {
                        $('#login_response').find('[class="modal-title"]').text('login failed')
                        $('#login_response').find('[class="modal-title"]').append('<h5 class="modal-title">please check your username or password</h5>')
                        $('#login_response').modal('show')
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest.status)
                    console.log(textStatus)
                }
            })
        }
    })


</script>

</html>