<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                    <canvas id="bv_burndown"></canvas>
                </div>
            </div>
        </div>
    </div>

</body>

<script>

    new Chart($('#bv_burndown'), {
        type: 'line',
        data: {
            labels: ['02/01', '02/02', '02/03', '02/04', '02/05', '02/06'],
            datasets: [
                {
                    label: 'Business Value 1',
                    data: [1, 1, 2, 3, 5, 8],
                    borderColor: '#006eff',
                    backgroundColor: '#00aaff',
                },
                {
                    label: 'Business Value 2',
                    data: [1, 2, 4, 6, 8, 10],
                    borderColor: '#ff0000',
                    backgroundColor: '#ff008c',
                }
            ]
        },
        options: {
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Date',
                        font: {
                            size: 15
                        },
                    },
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'BV',
                        font: {
                            size: 15
                        },
                    },

                }
            },

        }
    });

</script>

</html>