<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Miami | Login Page</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/logo.jpeg')}}" />
</head>

<body>

    <div class="container">
        <div class="col col1">
            <img src="../static/img/Illustration.png" alt="">
        </div>

        <div class="col">
            <div class="flex-container">                        
                <!-- logo Container-->
                <div class="logo">
                    <h2 class="logo-text">
                        Hello from Team Miami.
                    </h2>
                    <p class="logo-desc">
                        Enter your Username and Password to login into the project!
                    <p>
                    <img src="{{url_for('static', filename='img/logo.jpeg')}}" alt="Logo"
                        class="logo-img">
                </div>
                
                <!-- form -->
                <h5 class="form-heading">LOGIN</h5>
                <form id="login_form" action="/" method = "post" >
                    <div class="form">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" required="" placeholder="Enter your Username here">
                            <!-- <div class="invalid-feedback">please enter username</div> -->
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" required="" placeholder="Enter your Password here">
                            <!-- <div class="invalid-feedback">please enter password</div> -->
                        </div>
                        <button type="submit" id="login_submit" class="btn" >Submit</button>
                        {% if error %}
                        <br>
                        <p style="color: red">Wrong username or password.</p>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script> 
        document.getElementById('log-out-btn').addEventListener('click', function() {
            window.location.href = '/logout';
        });
    </script>
    


</body>
</html>