body{
    /* overflow-y: hidden; */
    overflow-x: hidden;
}

.graph-container {
    width: 80vw;
    height: 70vh;
    margin: 20px auto;
    border: 1px solid #ccc;
}

#line-graph {
    width: 100%;
    margin: auto;
}

.flex-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1.75rem;
    padding: 0.75rem;
    gap: 1rem;
}

.flex-container .flex-items{
    margin: 0.75rem;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.flex-container .flex-items .flex-item h2{
    text-transform: uppercase;
}

.flex-container .flex-items .flex-item .graph-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 0.75rem;
}

.loading-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    z-index: 100;
}