@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before,
p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

*,
*::after,
*::before {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar .container-fluid {
    border-radius: 15px;
    background-color: rgba(223, 223, 223, 0.9) !important;
}

.logo-name {
    font-size: 2rem;
    font-family: "Caveat", cursive;
}

.log-out-conatiner {
    --c: #f7bf51;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.65rem 3rem;
    margin: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.4rem;
    margin: auto;
    display: block;
    color: #000;
    background:
        linear-gradient(90deg, #fff 50%, var(--c) 0) calc(100% - var(--_p, 0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) 100% no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

.log-out-conatiner:hover {
    --_p: 100%;
}

.logout-icon::before {
    font-size: 1.5rem;
}

.log-out-text {
    font-size: 1.4rem;
    display: inline-block;
    font-weight: bold;
}

.slug-inp-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slug-inp-grp{
    margin: auto 25%;
}

.slug-inp-grp input{
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 100;
}

button.slug-submit-btn{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.4rem;
    display: block;
    font-weight: bold;
    padding: 0.65rem 3rem;
    margin: 1.25rem;
    --c: #f7bf51;

    color: #000;
    background:
        linear-gradient(90deg, #fff 50%, var(--c) 0) calc(100% - var(--_p, 0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) 100% no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

button.slug-submit-btn:hover{
    --_p: 100%;
}

.alert-container{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    max-height: 30vh;
    overflow: scroll;
}

.next-button{
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    padding: 0.75rem;
    margin: 0.5rem;
    position: fixed;
    bottom: 2%;
    right: 1%;
    background-color: #1f1f1fd7;
    color: white;
    border-radius: 50%;
}

.next-button:hover{
    background-color: #f7bf51;
    color: black;
}

.next-button i::before{
    font-size: 2rem;
}

.hide{
    display: none;
    position: absolute;
}

.select-card label{
    width: 16rem; 
    height: 11rem;
    border: 1px solid #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0.75rem;
}

.form-check.d-flex.align-items-center.justify-content-center.select-card{
    border-radius: 0.75rem;
}
.select-card label:hover{
    background-color: #f7bf51;
    border-radius: 0.75rem;
}

.scroll-bar-container {
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin: 0.75rem;
    padding: 0.75rem;
}

.flex-box{
    display: flex;
    flex: 1;
    direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.75rem;
    padding: 0.75rem;
}

.flex-box .flex-items h3{
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    position: relative;
    margin: 0.75rem;
    padding: 0.75rem;
}

.flex-box .flex-items h3::after{
    content:"";
    height: 0.25rem;
    width: 13rem;
    background: #f7bf51;
    display: block;
    position: absolute;
    top: 50%;
    right: 30%;
}

.flex-box .flex-items .flex-item{
    display: flex;
    gap: 1.5rem;
    margin: 0.75rem;
    padding: 1.25rem;
    flex-wrap: wrap;
    justify-content: center;
}

.form-check{
    padding-left: 0;
}

.footer{
    width: 100vw;
}

.footer img{
    width: 100%;
    height: 25rem;
}